/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 50vh; /* Set the height of the body to the viewport height */
}

.main-container {
  max-width: 600px; /* Set a max width for the content container */
  width: 100%; /* Set the width of the container to 100% */
  padding: 10px; /* Add some padding to the container */
  box-sizing: border-box; /* Include padding and border in the width */
}
.header {
  text-align: center;
  margin: 1em;
}

blockquote {
  border-left: 6px solid #ddd;
  margin: 1.5em 0;
  padding: 0.5em 1em;
}

blockquote.coach {
  background-color: lightyellow;
}

blockquote.coach p {
  font-weight: 400;
}
